<section id="comments">
  <div id="disqus_thread"></div>
  <div id="disqus_proxy_thread"></div>
</section>
<script>
  window.disqusProxy = {
    shortname: 'lewis617s-blog',
    username: 'lewis617',
    server: 'disqus-proxy.herokuapp.com',
    port: 80,
    adminAvatar: '//ws4.sinaimg.cn/mw690/83900b4egy1fkuw5hqw8vj202s02ygm1.jpg',
    identifier: '<%- page.path %>',
  };
  window.disqus_config = function () {
    this.page.url = window.location.href;
    this.page.identifier = window.disqusProxy.identifier;
  };
</script>