<section id="comments">
  <div id="disqus_proxy_thread"></div>
</section>
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<script src="//cdn.bootcss.com/react/16.0.0/umd/react.production.min.js"></script>
<script src="//cdn.bootcss.com/react-dom/16.0.0/umd/react-dom.production.min.js"></script>
<script src="//cdn.bootcss.com/babel-polyfill/7.0.0-beta.2/polyfill.min.js"></script>
<script src="//cdn.bootcss.com/fetch/2.0.3/fetch.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/blockies-identicon@0.1.0/blockies.min.js"></script>
<script>
  window.disqusProxy={
    shortname: 'lewis617s-blog',
    username: 'lewis617',
    server: 'disqus-proxy.herokuapp.com',
    port: 80,
    adminAvatar: '//ws4.sinaimg.cn/mw690/83900b4egy1fkuw5hqw8vj202s02ygm1.jpg',
    identifier: '<%- page.path %>',
  };
  window.disqus_config = function () {
    this.page.url = window.location.href;
    this.page.identifier = window.disqusProxy.identifier;
  };
</script>`
<script src="/js/hexo-disqus-proxy-primary.js" async></script>
<!-- <script src="http://localhost:8080/lib/hexo-disqus-proxy-primary.js"></script> -->