<div class="widget-wrap">
	<h3 class="widget-title">关注我</h3>
	<div class="widget">
		<ul>
			<li><a href="http://www.weibo.com/u/2207255374" target="_blank">微博</a></li>
			<li><a href="https://github.com/lewis617" target="_blank">GitHub</a></li>
			<li><a href="https://www.zhihu.com/people/liu-yi-si-15-89" target="_blank">知乎</a></li>
		</ul>
	</div>
</div>
